::-webkit-scrollbar {
	width: 5px;
}

::-webkit-scrollbar-thumb {
	background: linear-gradient(to bottom, #202c33, #2a2f32);
	border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
	background: linear-gradient(to bottom, #202c33, #2a2f32);
}

body {
	background-color: #222;
}

.sidebar {
	height: 100vh;
	background-color: #2a2f32;
	color: #fff;
	overflow-y: auto;
}

.chat-header {
	background-color: #323739;
	padding: 15px;
	border-bottom: 1px solid #333;
}

.chat-list {
	list-style: none;
	padding: 0;
	margin: 0;
}

.chat-list-item {
	padding: 15px;
	border-bottom: 1px solid #333;
	cursor: pointer;
	display: flex;
	justify-content: space-between;
}

.chat-list-item:hover {
	background-color: #3b4043;
}

.chat-main {
	height: 100vh;
	background-color: #1e2428;
	color: #fff;
	display: flex;
	flex-direction: column;
}

.chat-body {
	flex-grow: 1;
	padding: 20px;
	overflow-y: auto;
}

.message {
	margin-bottom: 15px;
	max-width: 70%;
	clear: both;
}

.message img {
	max-width: 100%;
	height: auto;
	display: block;
}

.message.sent {
	float: left;
	background-color: #056162;
	padding: 10px;
	border-radius: 10px;
	color: #fff;
}

.message.received {
	float: right;
	background-color: #202c33;
	padding: 10px;
	border-radius: 10px;
	color: #fff;
}

.message-text {
	margin-bottom: 0;
}

.message-time {
	font-size: 0.8rem;
	text-align: right;
}

.chat-footer {
	background-color: #323739;
	padding: 15px;
	border-top: 1px solid #333;
}

.chat-footer input {
	width: 100%;
	background-color: #2a2f32;
	border: none;
	padding: 10px;
	color: #fff;
}

.contact-info img {
	border-radius: 50%;
	width: 40px;
	height: 40px;
	margin-right: 10px;
}

.chat-header-icons i {
	color: #fff;
	margin-left: 15px;
	font-size: 20px;
	background-color: #2a2f32;
	padding: 10px;
	border-radius: 50%;
	cursor: pointer;
}
i{
	transition: 0.3s;
	cursor: pointer;
}
.chat-header-icons i:hover {
	opacity: 0.7;
}

.btn-style-send button {
	color: #fff;
	border: none;

	padding: 14px;
	border-radius: 25%;
	cursor: pointer;
	margin-left: 10px;
}

.btn-style-send button:hover {
	background-color: #2a2f32;
	color: #fff;
}